@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(233, 239, 255);
}

.wrapper{
    user-select: none;
}

.wrapper .time{
    height: 100px;
    background: #ffc9c8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 0 10px;
}

.wrapper .time span{
    width: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #333;
}

.time span .colon{
    width: 10px;
}

.time span .milliseconds{
    color: #ff0400;
}

.wrapper .buttons{
    text-align: center;
    margin-top: 50px;
}

.buttons button{
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: #ceffd4;
    border-radius: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.buttons button:hover{
    transform: scale(1.08);
    transition: 0.2s ease-in;
    background-color: #a2ffad;
}
.buttons button:hover::after{
    transition: 0.2s ease-out;
}

.wrapper #laps{
    font-size: larger;
    font-weight: 500;
    color: #7e79ffe4;
    text-align: center;
    padding: 20px 40px;
}

p{
    margin: 5px;
}